@import
"module/slider/custom/base",
"module/slider/custom/small-slider/main",
"module/slider/custom/control-btn";

.main_wrapper {
	.item_wrap {
		&:nth-child(2){
			height: 100vh;
			position: relative;
			background-color: #fff;
		}
	}
}

.inner_slide {
    min-height: 70vh;
    width: 100vw;
    background-color: $brown1;
    /* padding: 2em;*/
    /* @include breakpoint(laptop) {*/
    /*     padding: 4em;*/
    /* }*/
}